.buttonGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-sizing: border-box;

}


.buttonGroup__container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.buttonGroup__buttonLabel {
    color: rgba(91, 62, 93, 0.95);
    background-color: transparent;
    border: 2px solid rgba(91, 62, 93, 0.95);
    padding: 5px;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    transition: all 250ms, visibility 0.5s;
    box-shadow: 1px 1px 0 black;

}

.buttonGroup__buttonLabel:hover {
    color: rgba(244, 244, 244, 0.95);
    background-color: rgb(91, 62, 93);
    border: 2px solid transparent;
}
.buttonGroup__buttonBorderedRight {

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buttonGroup__buttonBorderedLeft {

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.buttonGroup__buttonInput[type="radio"] {
    display:none;
}

.buttonGroup__buttonInput[type="radio"]:checked + label {
    box-shadow: none;
    border: 2px solid rgba(65, 46, 68, 0.95);
    color: rgba(235, 235, 235, 0.95);
    background-color: rgb(65, 46, 68);
}