.arbiters-page__contents {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, 1fr));
    grid-gap: 20px;
}

@media screen and (max-width: 1300px) {
    .arbiters-page__contents {
        grid-template-columns: 1fr;
    }
}