.selector {
    height: 30px;
    background: transparent;
    color: var(--input-text);
    border-color: var(--accent-background);
    outline-color: var(--accent-background);
}

.selector:focus {
    background: var(--focus);
    outline-color: var(--accent-background);
    border-color: var(--accent-background);
}