.charsheet-page {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 0.5fr 1.5fr;
}

@media screen and (max-width: 1180px) {
    .charsheet-page {
        grid-template-columns: 1fr;
    }
}