.spinner {
    position: relative;
    top: 0;
    left: 0;
    background: transparent;
    opacity: 0.5;
    pointer-events: none;
}

.loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 10px solid var(--accent-background);
    border-top: 10px solid var(--accent-color);
    border-radius: 50%;
    z-index: 99999;
    animation: spin 1s linear infinite;
}
@keyframes spin {
      0% {
          transform: rotate(0deg);
      }
      100% {
          transform: rotate(360deg);
      }
  }