.auth-window {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.auth-window__controls {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.action-button__container {
    display: flex;
    justify-content: center;
}

.content-block__container {
    min-width: 200px;
}