.text-cleaner {
    display: flex;
    gap: 10px;
}
.textArea {
    margin-top: 0;
}
.text-cleaner__raw {
    display: flex;
    flex-direction: column;
}
.text-cleaner__raw .actionButton__container {
    display: flex;
    justify-content: center;
}
.actionButton {
    margin-top: 10px;
}
