.action-button {
    color: var(--button-content);
    background: transparent;
    border: 2px solid var(--button-border);
    padding: 10px;
    border-radius: 0.25rem;
    font-weight: bolder;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    transition: 250ms;
}

.action-button__container {
    transition: 250ms;
}

.action-button:hover {
    color: var(--button-content-hover);
    background: var(--button-background-hover);
    border: 2px solid transparent;
}