.main-page {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-gap: 20px;
}
.content-block__container {
    padding: 10px;
}

@media screen and (max-width: 1095px) {
    .main-page {
        grid-template-columns: 1fr;
    }
}