.user-list-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-list-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}