.claimed-items .content-block__container {
    padding: 0 0 10px;
}


.claimed-items__tables {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

@media screen and (max-width: 1095px) {
    .claimed-items__header {
        flex-direction: column;
    }
}

@media screen and (max-width: 550px) {
    .claimed-items-modal {
        width: 100%;
        overflow-y: auto;
        max-height: 100%;
    }
    .claimed-items-modal .input__container {
        flex-direction: column;
    }
    .claimed-items-modal .input__field {
        width: 100%;
    }
}

.claimed-items__header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.claimed-items-modal-wrapper {
    z-index: 9999999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}


.claimed-items-modal {
    pointer-events: auto;
    z-index: 999999;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.claimed-item-editor-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.claimed-items-modal .content-block__container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}