.business-rewarder > .content-block > .content-block__container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.business-rewarder__selectors {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.business-rewarder__multiplier-resource {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;

}

.business-rewarder__multiplier-resource .input__field {
    width: 40px;
}
.business-rewarder__selectors .selector__container {
    text-align: end;
}
.business-rewarder__result {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.business-rewarder__result > .input__container {
    display: flex;
    flex-grow: 1;
    padding-right: 5px;
}

.business-rewarder__result > .input__container > .input__field {
    display: flex;
    flex-grow: 1;
}

@media screen and (max-width: 460px) {
    .business-rewarder__selectors > .input__container{
        display: flex;
        flex-direction: column;
    }
    .business-rewarder__multiplier-resource  > .input__container{
        display: flex;
        flex-direction: column;
    }
    .business-rewarder__selectors .selector__container {
        text-align: center;
    }
    .business-rewarder__result {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}
