.lottery-creator__container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lottery_creator__options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: self-start;
}

.lottery_creator__options .buttonGroup {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.lottery_creator__options .actionButton__container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 1095px) {
    .lottery-creator__container {
        display: block;
    }
    .lottery-creator__container .textArea {
        margin-top: 10px;
    }
}