.user-list-filter {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

.user-list-filters {
    display: flex;
    flex-direction: column;
    gap: 5px;
}