.lottery-creator__container {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-flow: row wrap;
}

.lottery-creator__options .input__field {
    max-width: 30%;
}

.lottery-creator__options {
    display: flex;
    flex-grow: 1;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-self: self-start;
}

.lottery-creator__options .button-group {
    justify-content: center;
    text-align: center;
    align-self: center;
}
.lottery-creator__options .action-button__container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

@media screen and (max-width: 1095px) {
    .lottery-creator__container {
        flex-direction: column;
        justify-content: center;
    }
    .lottery-creator__container .input__container {
        flex-direction: column;
    }
    .lottery-creator__options .input__field {
        max-width: 100%;
    }
    .lottery-creator__options {
        justify-content: center;
        align-self: center;
    }
}