.mainInput {
    padding: 5pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inputField[type='tel'] {
    max-width: 20%;
}

.inputField {
    height: 20pt;
    font-size: 18px;
    transition: 0.5s;

    color: rgb(87, 59, 89);
    border: 2px solid rgba(87, 59, 89, 35%);
    border-radius: 5pt;
    padding-left: 5pt;
    background-color: transparent;
}

.inputField:focus {
    border: 2px solid rgba(87, 59, 89, 100%);
    outline: none;
    background-color: white;
}

.inputField::placeholder {
    color: rgba(87, 59, 89, 35%)
}
.inputField:disabled {
    font-weight: bold;

}