.text-area__frame {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.text-area {
    min-height: 30px;
    resize: vertical;
    background: transparent;
    color: var(--input-text);
    border: 2px solid var(--input-border);
    padding: 5px;
    border-radius: 5pt;
    transition: all 0.5s, height 0s;
}

.text-area:focus {
    border: 2px solid var(--accent-background);
    outline: none;
    background: var(--focus);
}