.arbitersPage__textCleanerRewardWorker {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}
.arbitersPage .rewardWorker {
    flex-grow: 1;
}

@media screen and (max-width: 1300px) {
    .arbitersPage__textCleanerRewardWorker {
        flex-direction: column;
        gap: 0;
    }
}