@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

:root {
    --header-margin: 20px;
    --footer-margin: 20px;
}

* {
    margin: 0;
    padding: 0;
}

html, body  {
    background-size: cover;
    background: url("/public/bgdarkmoon.png") no-repeat fixed;
    overflow-x: clip;
    width: 100%;
}
.App {
    margin-left: 10vw;
    margin-right: 10vw;
    box-sizing: border-box;
    font-family: 'Arimo', sans-serif;
    margin-bottom: var(--footer-margin);
}
.App .header__container {
    margin-bottom: 20px;
    margin-top: var(--header-margin);

}

@media screen and (max-width: 1095px) {
    html, body {
        overflow-x: hidden;
    }
    .App {
        margin-left: 0;
        margin-right: 0;
    }
}