.input__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
    flex-wrap: wrap;
    gap: 10px;
}
.input__field {
    height: 20pt;
    font-size: 18px;
    transition: 0.5s;
    color: var(--input-text);
    border: 2px solid var(--input-border);
    border-radius: 5pt;
    padding-left: 5pt;
    background: transparent;
}

.input__field:focus {
    border: 2px solid var(--input-border-focus);
    outline: none;
    background: var(--focus);
}

.input__field::placeholder {
    color: var(--placeholder);
}
.input__field:disabled {
    background: var(--focus);
    -webkit-text-fill-color: var(--input-text);
    -webkit-opacity: 1;
}